<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.mini.bietuola.mapper.UserMapper">


    <resultMap type="com.netease.mini.bietuola.entity.User" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="passwordMd5" column="password_md5"/>
        <result property="phone" column="phone"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="desc" column="desc"/>
        <result property="amount" column="amount"/>
        <result property="score" column="score"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
    </resultMap>


    <sql id="cols">
        nickname,password_md5,phone,avatar_url,gender,age,`desc`,amount,score,create_time,update_time,status
    </sql>

    <select id="findUserByUserId" resultMap="BaseResultMap">
      SELECT * from user WHERE id = #{id}
    </select>

    <insert id="save" parameterType="User">
      INSERT INTO
        user (<include refid="cols"/>)
      VALUES (
        #{nickname},#{passwordMd5},#{phone},#{avatarUrl},#{gender},#{age},#{desc},#{amount},#{score},#{createTime},#{updateTime},#{status}
        )
    </insert>
    
    <update id="updateByUserId" parameterType="User">
      UPDATE user set nickname=#{nickname},password_md5=#{passwordMd5},phone=#{phone},
      avatar_url=#{avatarUrl},gender=#{gender},age=#{age},`desc`=#{desc},amount=#{amount},
      score=#{score},create_time=#{createTime},update_time=#{updateTime},status=#{status}
      WHERE id=#{id}
    </update>
</mapper>